<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access for video calling</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access for voice chats</string>
  <key>com.apple.ScreenSharing.plist</key>
  <true />
  <key>NSHighResolutionCapable</key>
  <true/>

  <!-- Allow insecure content (websocket, etc.) -->
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>

    <key>NSAllowsArbitraryLoadsInWebContent</key>
    <true/>

    <key>NSExceptionDomains</key>
    <dict>
      <key>discord.com</key>
      <dict>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <false/>

        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true/>

        <key>NSIncludesSubdomains</key>
        <true/>

        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
        <true/>
      </dict>

      <key>ptb.discord.com</key>
      <dict>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <false/>

        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true/>

        <key>NSIncludesSubdomains</key>
        <true/>

        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
        <true/>
      </dict>
      
      <key>canary.discord.com</key>
      <dict>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <false/>

        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true/>

        <key>NSIncludesSubdomains</key>
        <true/>

        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
        <true/>
      </dict>
    </dict>
  </dict>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.dorion.dev</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <!-- register the dorion:// scheme -->
        <string>dorion</string>
      </array>
    </dict>
  </array>
</dict>
</plist>