ul[data-list-id='guildsnav'] div[class*='itemsContainer_'] > div > div[class*='listItem_']:nth-last-child(2) {
  display: none !important;
}

div[class*='userProfileOuter'] {
  --custom-user-popout-outside-components-height: 30px;
}

div[class*='inlineMediaEmbed_'] div[class*='imageContainer_'] {
  /*
   * For some reason, the height will stay zero until we apply another height.
   * Then, even if we remove the height property again, the height stays the same.
   */
  max-height: 450px;
}

html:not([data-dorion-platform='macos']) div[class^='base'] div[class^='bar_'] {
  z-index: 9999;
  background-color: var(--background-base-lowest);
}

html[data-dorion-platform="macos"] {
  padding-top: 2px;
}
