ul[class^='tree']
  > div[class^='scroller']
  > div[class^='listItem']:nth-last-child(2),
ul[class^='tree']
  > div[class^='scroller']
  > div[class^='listItem']:nth-last-child(3) {
  display: none !important;
}

div[class*='userProfileOuter'] {
  --custom-user-popout-outside-components-height: 30px;
}

div[class*='inlineMediaEmbed_'] div[class*='imageContainer_'] {
  /*
   * For some reason, the height will stay zero until we apply another height.
   * Then, even if we remove the height property again, the height stays the same.
   */
  max-height: 450px;
}
