ul[class^='tree']
  > div[class^='scroller']
  > div[class^='listItem']:nth-last-child(2),
ul[class^='tree']
  > div[class^='scroller']
  > div[class^='listItem']:nth-last-child(3) {
  display: none !important;
}
