html {
  background: #36393e;
  user-select: none;
  overflow: hidden;
}

li {
  list-style: none;
  font-size: 1rem;
  color: #fff;
  font-family: 'Courier New', monospace;
}

.settingFullBlock li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 2px 10%;
}

img {
  height: 20px;
  width: 20px;
}

img.icon {
  filter: invert(100);
}

img.icon:hover {
  cursor: pointer;
}

button {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: bold;

  background-color: #8c9eff;
  padding: 8px;
  border-radius: 6px;

  transition: background-color ease-in-out 0.1s;
}

button:hover {
  cursor: pointer;
  background-color: #798dff;
}

.settingFullBlock {
  background: #1e2124;
  border-radius: 6px;

  overflow-y: auto;
  scrollbar-width: 0;
  
  margin: 4px;
  height: 60%;
}

#finishBtn {
  border: none;
  position: relative;
  left: -50%;
}

#finishBtnContainer {
  margin-left: 50%;
  margin-top: 10px;
}

#main {
  position: absolute;
  left: 50%;
  top: 20%;

  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -50%;
  bottom: 10%;

  height: 100%;
  width: 70%;
}

#title {
  font-size: 3rem;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  text-align: left;
  float: left;
}

/* settings */
#innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.settingsGroup {
  background: #2f3136;
  padding: 10px;
  border-radius: 5px;

  margin: 10px;
  width: 40%; 
}

.settingInnerHeader {
  font-size: 2rem;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  text-align: center;
  margin: 8px;
  text-decoration: underline;
}

.settingItem {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  font-family: 'Courier New', monospace;

  margin: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
